App {
margin: 0;
font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.a {
  text-decoration: none;
  color: white;
}
a:hover{
text-decoration: overline;
}

.App-header{
background-color: rgb(92, 92, 92);
text-align: center;
color: #eeeeee;
padding: 20px;
}

.App-header nav a{
text-align: center;
color: #eeeeee;
padding: 50px;
margin: 0,10px;
}

.about{
  padding: 50px;
  text-align: center;
  background-color: antiquewhite;
}

.about h2, .projects h2, .contact h2{

margin-bottom: 50px;
margin: 20px;
}

.projects{
  padding: 50px;
  text-align: center;
}

.contact{
  padding: 50px;
  text-align: center;
}

.App-footer{
background-color: rgb(92, 92, 92);
text-align: center;
color: #eeeeee;
padding: 20px;
}

.project-list h2, .project-item h2{

  margin-top: 30px;

}


.project-list h3, .project-item h3{

  margin-top: 30px;
  
}